@model IEnumerable<ProyectoAWS.Models.Usuario>

@{ ViewData["Title"] = "Index"; }


<p>
    <a asp-action="Create" class="btn btn-success">Usuario Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaalta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdUsuario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fechaalta)
    </td>
    <td>
        @Html.ActionLink("Actualizar", "Update", new { id = item.IdUsuario },new{@class="btn btn-warning" }) 
        @Html.ActionLink("Perfil", "Details", new { id = item.IdUsuario }, new { @class = "btn btn-info" } ) 
        @Html.ActionLink("Borrar", "Delete", new { id = item.IdUsuario }, new { @class = "btn btn-danger" })
    </td>
</tr>}
    </tbody>
</table>